{% load static %}
{% load bootstrap4 %}

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="logo me-auto"><img src="{% static 'assets/img/church (5).png' %}" alt=""></div>
    <div class="container d-flex align-items-center">
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'churchapp:home' %}">Home</a></li>
          <li class="dropdown"><a href="#"><span>Dashboard</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'churchapp:event_form' %}">New Event</a></li>
              <li><a href="{% url 'churchapp:cermon_form' %}">New Sermon</a></li>
              <li><a href="{% url 'churchapp:payment_form' %}">New Donation Method</a></li>
              <li><a href="{% url 'churchapp:impact_category_form' %}">Add Impact Category</a></li>
              <li><a href="{% url 'churchapp:impact_form' %}">New Impact Item</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#tabs">Impact</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
          <li><a href="{% url 'churchapp:events' %}" class="nav-link scrollto">Events</a></li>
          <li class="dropdown"><a href="#"><span>Sermons</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#cermon">All Sermons</a></li>
              <li class="dropdown"><a href="#"><span>Weekly Sermons</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#cermon">Sunday Sermons</a></li>
                  <li><a href="#cermon">Mid-Week Sermons</a></li>
                  <li><a href="#cermon">Friday's kesha</a></li>
                </ul>
              </li>
              <li><a href="#cermon">Monthly Sermons</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a href="{% url 'login' %}" class="nav-link scrollto">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#pricing" class="get-started-btn scrollto">DONATE</a>
    </div>
  </header><!-- End Header -->